h1{
    color: red;}
h2{
    color:coral
}
p.d{
    color:yellow
}

h3.rainbow{
    text-align: center;
    background: linear-gradient(to left, red, yellow, green, blue, navy, violet)
}

h1.contents{
    color:crimson;
    text-align: center;
}