{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>

<h1 class="contents">Django MTV란?</h1>
<h2> Django 속성으로 알아보기!<h2>


<img src="{% static 'images/django.png' %}" alt="logo" width="100px">
<img src="{% static 'images/mtv.jpeg' %}" alto="mtv" width="200px">
<h3>🧑🏻‍🏫 우리가 사용하는 django란?</h3>
<ul>
<p> 파이썬으로 작성된 웹 애플리케이션 프레임 워크!</p>
</ul>
</div>
<div class="d"> 📚 Django MTV 패턴이란?
<ul>
  <p>위 사진을 참고해서 살펴보자</p>
  <li>M: Model로, DB에 저장되는 데이터를 의미</li>
  <li>T: Template으로, 유저에게 보여지는 화면을 의미</li>
  <li>V: View로, 요청에 따라 적절한 로직을 수행하며 결과를 템플릿으로 렌더링 하며 응답하는 것을 의미</li>
</ul>
<div> 🤔 Django MTV의 장점은?
    <p>각각의 요소들이 고유한 역할을 하기 때문에 유지보수에 용이하다는 장점을 가지고 있다!</p>
</div>
<h3 class="rainbow"> 너무나 어려운 Django! 하다보면 쉬워지겠죠~🤣 </h3>
<div>
</div>
</div>
</body>
</html>

{% endblock %}